#main {
    height: 1500px;
    width: 100%;
}

#main-header {
    width: 100vw;
    height: 500px;
}

#lead {
    width: 100%;
    height: 300px;
    border: dashed red;
}

#main-table {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.static-block {
    position: sticky;
    top: 20px;
    width: 100%;
    height: 90vh;
    background-color: brown;
    z-index: 0;
    font-size: 10ch;
}

.civic {
    color: green;
}

.war {
    color: red;
}

.step {
    position: relative;
    min-height: 500px;
    width: 40vw;
}